{
    "mode": "webhook",
    "url": "https://github.com/kelvv/test.git",
    "rules": [
        {
            "type":"tag",
            "value":"*"
        },
        {
            "type":"push",
            "value":"release"
        }
    ]
}